.productDetail {
  background-color: var(--color-verdeTransparente);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.productDetailInfo {
  padding-bottom: 20px;
  width: 50%;
}

.imgProducto {
  width: 300px;
  object-fit: cover;
  filter: drop-shadow(0px 15px 16px rgba(0, 0, 0, 0.67));
}

.productNombre {
  color: var(--color-cucurucho);
  font-family: var(--fuente-nav);
}

.precioProduct {
  font-size: 17px;
}

.descripcionContador {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  padding: 0 0 15px 0;
  gap: 15px;
}

.productDescripcion {
  font-size: 18px;
}

.contTerminarCompraProduct {
  position: absolute;
  bottom: -65px;
  left: 0;
  right: 0;
  height: 65px;
  display: flex;
  background: var(--color-verdeTransparente);
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .productDetail {
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }
  .imgProducto {
    width: 200px;
  }
  .productDetailInfo,
  .descripcionContador {
    width: 100%;
  }
}
