.categoriasCont {
  display: grid;
  gap: 10px;
}
.tituloCategorias {
  font-size: 20px;
  font-family: var(--fuente-nav);
  letter-spacing: 2px;
  color: var(--color-verdeTransparente);
}
.categoriaItems {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 55px;
  width: 100%;
  background-color: var(--color-cucurucho);
}
.categoriaItems > a {
  color: var(--color-negro);
  text-decoration: none;
  font-size: 17px;
  font-family: monospace;
  transition: all 0.5s;
}

.categoriaItems > a:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.itemCat.active {
  text-decoration: underline;
  text-underline-position: under;
  font-size: 18px;
}
