.productDestacadosTitle {
    font-size: 37px;
    font-family: var(--fuente-nav);
    padding-top: 50px;
    color: var(--color-verdeTransparente);
}

@media screen and (max-width:600px) {
    .productDestacadosTitle {
        font-size: 30px;
    }
}

.contenedorProductosDestacados {
    display: flex;
    gap: 110px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0;
    background-color: var(--color-blancoLindo);
}

@media screen and (max-width:1280px) {
    .contenedorProductosDestacados {
        gap: 55px;
    }

}

@media screen and (max-width:600px) {
    .contenedorProductosDestacados {
        gap: 30px;
    }
}

.contenedorProductosDestacados .cardProduct {
    padding: 30px;
    background: var(--color-verdeParrafo);
    border-radius: 10px 10px 0 0;
    position: relative;
    height: 395px;
    width: 260px;
}

.contenedorProductosDestacados .cardProduct .imgProduct {
    width: 250px;
    filter: drop-shadow(0px 9px 13px rgba(0, 0, 0, 0.5));
    transition: all .3s;
}

.contenedorProductosDestacados .cardProduct .imgProduct:hover {
    transform: translateY(-8px);
    filter: drop-shadow(0px 0px 13px rgba(0, 0, 0, 0.5));
}

.contenedorProductosDestacados .cardProduct .productName {
    margin: 0;
}

.gifHelado {
    width: 13%;
    padding-right: 10px;
}

@media screen and (max-width:600px) {
    .contenedorProductosDestacados .cardProduct {
        height: 352px;
        width: 247px;
    }

    .contenedorProductosDestacados .cardProduct .imgProduct {
        width: 200px;
    }
}