/* VIDEO CUCURUCO */
.mainVideoCont {
    position: relative;
    min-height: 100vh;
    top: 0;
    box-shadow: 1px 7px 77px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 7px 77px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 7px 77px -12px rgba(0, 0, 0, 0.75);
}

.mainVideoCont .videoCont {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainVideoCont .mainTituloCont {
    position: absolute;
    background-color: var(--color-verdeTransparente);
    padding: 20px;
    border-radius: 5px;
    left: 20px;
    right: 20px;
    bottom: 95px;
    top: 94px;
    height: 80%;
    display: flex;
    flex-direction: column;
    top: 50px;
}

@media screen and (min-width:1221px) {
    .mainVideoCont .mainTituloCont {
        left: 116px;
        right: 116px;
    }
}

.mainVideoCont .mainTituloCont .titulo {
    margin: 10px 0;
    font-size: 45px;
    color: var(--color-blancoLindo);
    font-family: var(--fuente-nav);
    text-align: start;
}

.mainVideoCont .mainTituloCont .titulo .spanTyped {
    color: var(--color-cucurucho);
}

.mainVideoCont .mainTituloCont .parrafoTitulo {
    color: var(--color-verdeParrafo);
    font-family: var(--fuente-parrafo);
    font-size: 22.3px;
    margin: 0;
    text-align: start;
}

.ubicacionMain {
    background: var(--color-verdeTransparente);
    border-radius: 5px;
    box-shadow: 1px 1px 96px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 96px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 96px -7px rgba(0, 0, 0, 0.75);
    height: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

@media screen and (max-height:750px) {
    .mainVideoCont .mainTituloCont {
        top: 25px;
    }

    .ubicacionMain {
        height: 80%;
    }
}

/* MEDIA QUERIES */

@media screen and (max-width:1024px) {
    .mainVideoCont .mainTituloCont {
        right: 0;
        left: 0;
    }

}

@media screen and (max-width:800px) {
    .mainVideoCont .mainTituloCont .titulo {
        font-size: 32px;
    }

    .mainVideoCont .mainTituloCont .parrafoTitulo {
        font-size: 17.3px;
    }

    .ubicTitle {
        font-size: 22px;

    }
}

@media screen and (max-width:530px) {
    .mainVideoCont .mainTituloCont .titulo {
        font-size: 24px;
    }

    .mainVideoCont .mainTituloCont .parrafoTitulo {
        font-size: 16.3px;

    }

    .ubicTitle {
        font-size: 17px;
    }

    .cta {
        padding-bottom: 12px;
    }
}

@media screen and (max-width:400px) {

    .mainVideoCont .mainTituloCont .titulo {
        font-size: 20px;
    }
}

.imgg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 100%;
}