.volverAtrasContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.volverAtrasDetail {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: var(--color-verdeTransparente);
  color: var(--color-negro);
  text-transform: none;
  margin-right: 15px;
}
.volverAtrasDetail > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.volverAtrasDetail:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.volverAtrasDetail:hover {
  box-shadow: 9px 9px 33px #35662c1e, -9px -9px 33px #0e550513;
  transform: translateY(-2px);
}
@media screen and (max-width: 768px) {
  .volverAtrasDetail {
    height: 2.5em;
    width: 83px;
  }
}
