.saboresContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    gap: 50px;
}

.saboresCrema {
    text-align: start;
}

.saboresAgua {
    text-align: start;
}

.tituloCrema,
.tituloAgua {
    font-family: var(--fuente-nav);
}

.listaCrema,
.listaAgua {
    padding-bottom: 7px;
    cursor: pointer;
    font-family: var(--fuente-parrafo);
    font-size: 18px;
}

.saboresElegidosCont {
    text-align: end;
    background: var(--color-cucurucho);
    padding: 15px;
    border-radius: 7px;
}

.tituloSaboresEleg {
    text-align: center;
}

.tituloSaboresEleg {
    font-family: var(--fuente-nav);

}

.listaSaboresElegidos {
    text-align: end;
    list-style: none;
}

.cruzSabores {
    color: red;
    font-size: 15px;
    padding-left: 5px;
    cursor: pointer;
}

@media screen and (max-width:593px) {
    .saboresContainer {
        gap: 15px;
        flex-flow: column-reverse;
    }

    .saboresCrema,
    .saboresAgua {
        text-align: center;
    }

    .listaSaboresElegidos {
        text-align: center;
    }
}