.contenedorProductos{
    display: flex;
    gap: 110px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedorProductos .cardProduct{
    padding: 30px;
    background: var(--color-verdeParrafo);
    border-radius: 10px;
}

.contenedorProductos .cardProduct .imgProduct{
    width: 250px;
}
.contenedorProductos .cardProduct .productName{
    margin: 0;
}