.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--color-transparente);
    transition: all .7s;
}

.header.scrollActivo {
    background-color: var(--color-verdeTransparente);
}

.header .navegador {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .navegador .linkLogo {
    z-index: 10;
}

.header .navegador .linkLogo .logoImg {
    width: 69px;
    padding: 10px 0;
}

@media screen and (max-width:768px) {
    .header .navegador .linkLogo .logoImg {
        width: 50px;
    }
}

.header .navegador .listaDesordenada {
    list-style: none;
    display: flex;
    gap: 3rem;
    padding: 0;

}

.header .navegador .listaDesordenada li .link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-cucurucho);
    transition: all .4s;
    font-family: var(--fuente-nav);
    font-weight: 600;
}

.link.linkActivo {
    color: var(--color-blanco);
    background-color: aqua;
}

.header .navegador .listaDesordenada li a:hover {
    color: var(--color-blanco);
}

.header .navegador .listaDesordenada .redesNav {
    display: none;
}

.header .navegador .contenedorBurger {
    padding: 4px 5px 0 5px;
    cursor: pointer;
    background-color: var(--color-cucurucho);
    border-radius: 8px;
    display: none;
}

.header .navegador .contenedorBurger .iconoBurger {
    width: 30px;
}

@media screen and (max-width:768px) {
    .header .navegador .contenedorBurger {
        display: block;
        z-index: 10;
    }

    .header .listaDesordenada {
        position: fixed;
        flex-direction: column;
        background-color: var(--color-verdeTransparente);
        height: 50%;
        width: 100%;
        justify-content: center;
        top: -17px;
        right: 0;
        transform: translateX(-200%);
        transition: transform 0.3s ease-in-out;
    }

    .header .listaDesordenada.toggleBurger {
        transform: translateX(0%);
    }

    .header .navegador .listaDesordenada .redesNav {
        display: block;
        position: absolute;
        bottom: 23px;
        left: 0;
        right: 0;
        font-size: 30px;
    }

    .header .navegador .listaDesordenada .redesNav a {
        text-decoration: none;
    }

    .header .navegador .listaDesordenada .redesNav i {
        padding: 7px;
        color: var(--color-cucurucho);
        transition: color .3s;
    }

    .header .navegador .listaDesordenada .redesNav i:hover {
        color: var(--color-blanco);
    }
}

/* CARRITO */
.linkCarrito {
    z-index: 10;
}

.contenedorCarrito {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: var(--color-verdeTransparente);
    cursor: pointer;
    position: relative;
}

.contenedorCarrito svg .colorCarrito {
    fill: var(--color-cucurucho);
}

@media screen and (max-width:1250px) {
    .header .navegador {
        justify-content: space-evenly;
    }

    .contenedorCarrito {
        right: 25px;
    }
}
.contadorProductoCarrito{
    position: absolute;
    bottom: -5px;
    font-size: 14px;
    color: var(--color-cucurucho);
    left: -2px;
    margin: 0;
}