.header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--color-transparente);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header .logoImg{
    width: 69px;
    padding: 10px 0;
}
.header .listaDesordenada{
    list-style: none;
    display: flex;
    gap: 3rem;
    padding: 0;

}
.header .listaDesordenada li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-cucurucho);
    transition: all .4s;
}
.header .listaDesordenada li a:hover{
    color: var(--color-blanco);
}