.header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #2F323A;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header .logo{
    font-size: 30px;
    color: #FFEDDF;
}
.header .listaDesordenada{
    list-style: none;
    display: flex;
    gap: 3rem;
    padding: 0;

}
.header .listaDesordenada li a{
    text-decoration: none;
    color: #FFEDDF;
}