.botonesAumDism {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 75px;
    left: 0;
    right: 0;
}

.botonAum,
.botonDis {
    padding: 5px 17px;
    background: var(--color-verdeTransparente);
    color: var(--color-negro);
    border-style: none;
    cursor: pointer;
}

.contenedorBotones .botonAñadirCont {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65px;
    display: flex;
    background: var(--color-verdeTransparente);
    justify-content: center;
    align-items: center;
}

.ctaAñadir {
    border: none;
    background: none;
    cursor: pointer;
}

.hover-underline-animationAñadir {
    letter-spacing: 3px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: var(--fuente-nav);
    color: var(--color-negro);
    padding-bottom: 20px;
    transition: color .4s;
}

.hover-underline-animationAñadir:hover {
    color: var(--color-cucurucho);
}

.hover-underline-animationAñadir:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--color-cucurucho);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.ctaAñadir:hover .hover-underline-animationAñadir:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}